.details{
    position: relative;
    background-color:aliceblue;
    height: 517px;
    margin-bottom:20px;
    padding-top:20px;
    padding-bottom:20px;
}
.details_header{
    text-align:center;
    margin-top:15px;
    margin-bottom:12px;
    padding-bottom:10px;
}
.details_wide_box{
    float:left;
    /*border:1px solid red;*/
    /*position:absolute;
    left:50%;
    margin-left:-450px;*/
    margin-left:120px;
    margin-right:auto;

}
.details_des_box{
    /*border:1px solid;*/
    width:250px;
    height:215px;
    text-align:center;
    padding:5px;
    float:left;
    margin-left:40px;

}

.details_imgs{
    width:100px;
    height:100px;
}
.details_head{
    font-size:20px;
    margin-top:20px;
    margin-bottom:10px;
}
.d_h_des{
    max-width:300px;
}
