.header{
   /* border:1px solid;*/
    height:80px;
    background: #fff;
}
.logo{
    font-style: italic;
    font-size:25px;
    float:left;
    position:relative;
    left:180px;
    top:6px;
    font-size:49px;
    font-weight:bold;
}

.header_menu ul li {
    list-style: none;
    float:left;
    margin:10px ;
    margin-top:20px;
    padding:8px;
    border-radius:6px;
    -webkit-transition:all 0.8s;
    -moz-transition:all 0.8s;
    transition:all 0.8s;

}
.header_menu ul li:first-child{
    background-color:orangered;
}

.header_menu ul li:hover{
    background-color:orangered;
    color:white;
}

.header_menu{
    float:right;

}


/*header descriptin*/

.header_description{
    /*background:rgba(255,255,255,0.4);*/
    /*height:175px;*/
    /*position: relative;*/
    text-align: center;
}

.h_des_subhead{
    text-align:center;
    margin-top:50px;
    font-size:25px;
    font-weight: 500;
    font-family:sans-serif;
}
.h_des{
    max-width:970px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    margin-top:25px;
    font-size: 15px;
    font-weight: 400;
    font-family: serif;
   line-height: 20px;
}