.pricing_block{
    height:500px;
    text-align:center;
}
.pricing_block_header{
    font-weight: 400;
    text-align:center;
    margin-top:40px;
    margin-bottom:20px;
}
.pricing_block_tbl_box {
}

.pricing_table{
    width:230px;
    border:2px solid #eee;
    border-radius:6px;
    text-align:center;
    font-size:16px;
    display:inline-block;
    margin-left:20px;
}

.price_tbl_head{
    font-size:32px;
    font-weight: 400;
}

.pricing_tbl_list li{
    list-style:none;
    margin-bottom:10px;
   /* padding:5px;*/
}

.pricing_tbl_list li:nth-child(odd){
    background-color:#EEEEEE;
    padding:10px;

}
.pricing_tbl_list li:nth-last-child(1){
    background-color:#EEEEEE;
    padding:10px;
    margin-top:-9px;
    margin-bottom:0px;
}
.pricing_tbl_btn{
    padding:8px;
    background-color:black;
    color:white;
    width:165px;
    height:47px;
    border-radius:4px;
    margin-top:10px;
    margin-bottom:10px;
    border:none;
}

.pricing_table:hover{
    border-color:orangered;
}
.pricing_table:hover .pricing_tbl_list li:nth-child(1){
    background-color:orangered;
    color: white;
}
.pricing_table:hover .pricing_tbl_btn{
    background-color:orangered;
}
