*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
body{
	/*background: white;*/
}







.user_req{
	background-color:#F7DCB4;
	height:210px;
}
.footer{
	background-color: #5C755E;
	height:380px;
}